.characters {
    display: flex;
    position: relative;
    overflow: hidden;
}

.characters h1 {
    width: 100%;
    height: 10%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 0 0 4px black;
}

.characters p {
    font-family: CrediValley;
}

.characters .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(220,220,220,0.5);
}
.char-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 3px black dashed;
    margin: auto;
    width: 100%;
    height: 100%;
}

.char-block-content {
    position: relative;
    width: 85%;
    height: 100%;
}
.char-menu {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.char-menu h3 {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    text-shadow: 0 0 5px black;
}
.char-menu li {
    cursor: pointer;
    margin: 5px 0;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    font-family: MagistralC;
    background: #ff253a;
}

.char-menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.class-category-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 90%;

}
.class-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}
.char-wrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.char {
    overflow: hidden;
    border: 2px black solid;
    width: 200px;
    height: 300px;
    margin: 10px 5%;
    position: relative;
}

.char a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.char-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.char-img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.char-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: .5s all;
    background: rgba(225,235,245,0.8);
    display: flex;
    justify-content: center;
}

.char-title .char-text {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
}

.char-title .char-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.char-class {
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: .5s all;
    border: 1px black solid;
}

    .char-class img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .char:hover .char-class {
    opacity: 1;
    transition: .5s all;
}

.character {
    overflow: hidden;
    margin: auto;
    color: white;
    text-shadow: 0 0 4px black;
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;;
}

.character a {
    width: 100%;
    height: 100%;
}

.character .background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.character .background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character .background .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0.3);
}
.main-info-wrap {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: 50px 0;
}

.main-info {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.character .image-wrap {
    display: flex;
    justify-content: center;
    height: 300px;
}

.character .image-wrap img {
    height: 100%;
    object-fit: cover;
}

.character .prev-text-wrap {
    width: 50%;
    border: coral 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character .prev-text-wrap li {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.character .prev-text-wrap p{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px coral solid;
    position: relative;
    width: 100%;
    font-size: 0.8em;
    text-align: right;
}

.character .prev-text-wrap p:first-child {
    border-top: 2px coral solid;
}

.character .prev-text-wrap p strong {
    font-weight: bold;
}

.character .text-wrap {
    margin: 30px 0;
    width: 100%;
}

.character .text-wrap h2 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

.character .text-wrap li {
    margin: 30px 0;
    width: 100%;
}

.character .text-wrap li p {
    margin-top: 20px;

}


@media only screen and (max-width: 700px) {

    .char-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .char-menu {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 10%;
        width: 100%;
    }

    .char-menu:hover {
        height: 100%;
    }
    .char-menu li {
        display: inline-block;
        text-align: center;
        line-height: 40px;
        height: 40px;
        margin: 5px auto;
        width: 30%;
        font-size: 2em;
    }

    .char-menu h3 {
        font-size: 3em;
    }
    .class-category-wrap {
        height: 80%;
        width: 100%;
    }

    .character .main-info {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .character .image-wrap {
        margin: 0 auto;
    }

    .character p{
        font-size: 2em;
    }

    .character .text-wrap {
        margin: 0 auto;
    }
    .character .prev-text-wrap {
        width: auto;
        margin: 15px auto;
    }

    .character .text-wrap li {
        width: 100%;
        margin: 20px 0;
        border: black 2px solid;
    }
}