.content-block {
    overflow: hidden;
    border-bottom: white 2px solid;
    position: relative;
    width: 100%;
    height: 700px;
    background: rgba(0,0,0,0.9);
    color: white;
}

.content-block p {
    font-family: MagistralC;
}

.content-back-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: dimgray;
}
 .content-back-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-block:first-child {
    border-top: white 2px solid;

}

.content-block .content-bottom {
    display: flex;
    position: absolute;
    bottom: 50px;
    height: 50px;
    width: 100%;
}

.content-block .content-info {
    color: #cccccc;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
}
.content-block .content-title {
    top: 0;
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 50px;
}

.content-block .content-title h2 {
    font-family: CrediValley;
    transition: .5s all;
    position: absolute;
    bottom: 0;
    font-size: 4em;
}

.content-block:hover .content-title h2 {
    color: white;
    transition: .5s all;
    text-shadow: white 0 0 3px;
}

.content-block .content-text {
    margin: 0 50px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
}

.content-block .content-text p {
    transition: .5s all;
    font-size: 1em;
    display: block;
    margin: 50px 0;
}

.content-block:hover .content-text p {
    color: white;
    transition: .5s all;
    text-shadow: white 0 0 3px;
}


.content-block .link {
    transition: .5s all;
    border: white 2px solid;
    background: rgba(0,0,0,0.5);
    height: 50px;
    font-size: 30px;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block .link a {
    transition: .5s all;
    color: #cccccc;
    margin: 20px;
}

.content-block .link a:hover {
    color: white;
    text-shadow: white 0 0 3px;
}

.content-block .box-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block .box-shadow div {
    border-radius: 50%;
    position: absolute;
    width: 1px;
    height: 1px;
    background: rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 200px 400px rgba(0,0,0,50);
    -moz-box-shadow: 0px 0px 200px 400px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 200px 400px rgba(0,0,0,0.50);
}

@media only screen and (max-width: 700px) {
    .content-block {
    }
    .content-block .content-text p {
        font-size: 2em;
    }
    .content-block .content-title h2 {
        font-size: 5em;
    }
}
@media only screen and (max-width: 400px) {
    .content-block .content-bottom .link {
        justify-content: center;
        align-items: center;
    }
    .content-block .link {
        position: relative;
    }
    .content-block .content-text p {
        font-size: 3.5em;
    }
    .content-block .content-title h2{
        font-size: 10em;
    }
}
