@font-face {
    font-family: 'MagistralC';
    src: url('../fonts/MagistralC.eot');
    src: local('../fonts/PT Magistral Cyrillic'), local('MagistralC'),
    url('../fonts/MagistralC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MagistralC.woff2') format('woff2'),
    url('../fonts/MagistralC.woff') format('woff'),
    url('../fonts/MagistralC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrediValley';
    src: url("../fonts/CreditValley.ttf");
}

@font-face {
    font-family: 'Crimson-Roman';
    src: url("../fonts/Crimson-Roman.otf");
}

@font-face {
    font-family: 'Anonymous-Pro';
    src: url("../fonts/Anonymous_Pro.ttf");
}

@font-face {
    font-family: 'DeeDee';
    src: url('../fonts/DeeDee.eot');
    src: local('DeeDee'),
    url('../fonts/DeeDee.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DeeDee.woff') format('woff'),
    url('../fonts/DeeDee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uninsta';
    src: url('../fonts/Uninsta.eot');
    src: local('Uninsta'),
    url('../fonts/Uninsta.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Uninsta.woff') format('woff'),
    url('../fonts/Uninsta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}