.footer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.31) 1%, rgba(0, 0, 0, 0.8) 53%, rgba(0, 0, 0, 1) 74%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.31) 1%, rgba(0, 0, 0, 0.8) 53%, rgba(0, 0, 0, 1) 74%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.31) 1%, rgba(0, 0, 0, 0.8) 53%, rgba(0, 0, 0, 1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.footer .logo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50vw;
}

.footer .logo-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo-text h1 {
    font-family: Crimson-Roman;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 8em;
}

.footer .logo-text h1 strong {
    font-style: normal;
    font-family: CrediValley;
    font-weight: bold;
}


.footer .logo-img {
    margin-top: 1%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .logo-img img {
    height: 100%;
    object-fit: cover;
}

.footer-text-wrap {
    position: relative;
    width: 80%;
    height: 50%;
}

.footer-text {
    width: 50%;
    left: 0;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-text p {
    color: white;
    text-shadow: 4px 4px black;
    font-size: 6em;
    margin: auto;
}

