.gallery {
    position: relative;
    align-items: center;
    display: flex;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.gallery .back-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

/*fullgallery*/

.full-gallery {

}

.images-block {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.images-block li {
    transition: .5s all;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid white;
}

.images-block li:hover {
    transition: .5s all;
    transform: scale(1.1);
}

.images-block li .title {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: 0.8em;
}

.images-block li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-image {
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
}

.full-image .cross {
    font-size: 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    top: 0;
    right: 0;
}

.full-image .image {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5% 10%;
    width: 80%;
    height: 80%;
}

.full-image .image a{
    width: auto;
    height: 100%;
    margin: auto;
}

.full-image .image img {
    height: 100%;
    object-fit: cover;
}

.full-image .button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 100px;
    position: absolute;
    height: 100%;
    width: 10%;
}

.full-image .button.prev {
    left: 0;
}

.full-image .button.next {
    right: 0;
}
