.header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.header .back-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header .back-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.head-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto 0 0 0;
    width: 60vw;
    height: 45vw;
}

.head-bottom .img-logo {
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: 20px;
    left: 10%;
}

.head-bottom .img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-bottom .main-text {
    line-height: 20px;
    margin: 0 20px 10px auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px black;
}

.head-bottom .main-text h1 {
    font-family: Crimson-Roman;
    text-shadow: 4px 4px black;
    font-size: 6em;
}

.head-bottom .main-text h1 strong{
    font-style: normal;
    font-family: CrediValley;
    font-weight: bold;
}
.head-bottom .main-text h2 {
    letter-spacing: 10px;
    color: darkred;
    font-weight: bold;
    font-size: 2em;
}