.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info h2, .info h1 {
    font-size: 4.5em;
    text-shadow: 0 0 0.05em black;
    font-family: Crimson-Roman;
}
.info .content-info-block {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    transition: .5s all;
    border: white 5px solid;
}

.content-info-block .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
}
.content-info-block .back-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-info-block .back-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-info-block .text-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.info .info-menu {
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.info .info-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 15px;
}

.info .preview {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
}
/*********************/
/*story*/
/*********************/


.content-info-block.pre-story .text-wrap .text-block  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin: auto 0;
}

.content-info-block.pre-story .text-wrap .text-block .text {
    width: 30%;
    padding: 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info-block.pre-story .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

.content-info-block.pre-story .title h1 {
    font-size: 3.5em;
    bottom: 0;
}

.content-info-block.pre-story .text p {
    font-size: 0.6em;
}
/*********************/
/*characters*/
/*********************/



.content-info-block.pre-characters .title {
    color: white;
    position: absolute;
    right: 10%;
    top: 30%;
}

.content-info-block.pre-characters .title h1 {
    display: block;
}



.content-info-block.pre-characters .img-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-info-block.pre-characters .img-wrap .img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-info-block.pre-characters .img-wrap .img img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}

/*********************/
/*main-info*/
/*********************/



.content-info-block.pre-main-info .title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.content-info-block.pre-main-info .title h1 {
    font-size: 3.5em;

}

.content-info-block.pre-main-info .img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

.content-info-block.pre-main-info .img .box-shadow {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 300px 200px rgba(0,0,0,0.7);
}
.content-info-block.pre-main-info .img {
    height: 70%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-info-block.pre-main-info .img:first-child{
    width: 20%;
}
.content-info-block.pre-main-info .img img {
    position: relative;
    width: 100%;
    object-fit: cover;
}