.menu-wrap {
    display: flex;
    overflow: hidden;
    height: 30px;
    width: 80%;
    position: fixed;
    top: 0;
    left: 10%;
    transition: 1s all;
    z-index: 1000;
}

.menu {
    position: relative;
    overflow: hidden;
    height: 100%;
    top: 0;
    width: 100%;
    margin: auto;
    display: flex;
}

.menu li {
    font-family: 'Uninsta';
    margin: 0 0 auto 0;
    position: relative;
    transition: .5s;
    height: 30px;
    width: 100%;
    color: white;
    text-shadow: 2px 2px black;
}

.menu-wrap:hover {
    height: 100px;
}
.menu li img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s all;
}

.menu li a {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;

}

.menu li .overlay {
    transition: .5s all;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.menu li:hover {
    height: 100px;
    font-size: 40px;
    transition: .5s;
}

.menu li .title {
    opacity: 0.8;
    font-family: Crimson-Roman;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li .title h2 {
    text-shadow: 0 0 1px black;
    font-size: 20px;
}

.menu-wrap .menu .router-link-active {
    transition: .5s;
    font-size: 40px;
}

.arrow {
    color: white;
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    background: rgba(0,0,0,0.8);
    transition: 1s all;
}

.arrow:after {
    height: 100%;
    width: 50px;
    content: '<';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}

.arrow.left:after {
    transform: rotate(180deg);
    transition: 1s all;
}
