* {
    box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active{
    color: white;
}

body {
    font-size: 2vw;
}
a {
    transition: .5s all;
}

.router-link-active {
    text-shadow: 0 0 0.3em black;
    transform: scale(1.1);
    transition: .5s all;
}
.container {
    color: white;
    border: 5px black solid;
    background-size: cover;
    transition: 1s all;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.loading {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    font-size: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
