.soundtrack {
}

.soundtrack .title {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundtrack .title h1 {
    text-shadow: 0 0 4px black;
    transition: .5s all;
    margin: 0;
    font-size: 3em;
}

.soundtrack:hover .soundtrack .title h1 {
    transition: .5s all;
}

.ost-menu {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ost-menu li {
    transition: .5s all;
    padding: 5px;
    text-shadow: 0 0 3px black;
    position: relative;
    margin: 30px 0;
    width: 30%;
    background: coral;
    box-shadow: 0 0 5px 2px #a66a41;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
}

.ost-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ost-menu li:hover {
    transition: .5s all;
    text-shadow: 0 0 2px white;
}

/***********fullost***************/
.ost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ost-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ost-block li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px white solid;
    background: rgba(0,0,0,0.5);
}

.ost-block li p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Crimson-Roman;
}

.full-ost-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background: #45484d;
}

.full-ost-menu li {
    cursor: pointer;
    background: coral;
    border-radius: 20px;
    color: black;
    text-shadow: 0 0 5px white;
    font-size: 1.2em;
    margin-top: 20px;
}


.full-audio {
    z-index: 1000;
    background: black;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    position: fixed;
}

.full-audio audio {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50%;
}

.full-audio .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-play-circle {
    transition: .5s all;
    color: white;
    font-size: 100px;
    margin: auto;
}

.fa-play-circle:hover {
    transition: .5s all;
    text-shadow: 0 0 10px white;
}