.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: 1s all;
    top: 0;
    overflow: hidden;
}

.video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
}

.start-screen-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url("../img/bg_dot.png") repeat black;
}

.start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px black;
    width: 100%;
    height: 50%;
}

.main-text {
    transform: translateY(100%);
    margin-top: 50px;
    text-shadow: 4px 4px black;
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.main-text h2 {
    font-family: CrediValley;
    font-size: 6em;
    letter-spacing: 0.5em;
}

.sub-text {
    font-family: CrediValley;
    position: relative;
    text-shadow: 4px 4px black;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.sub-text p {
    font-size: 3em;
}

.some-text {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.some-text p {
    font-family: Crimson-Roman;
    font-weight: normal;
    font-size: 6em;
    letter-spacing: 20px;
}

.some-text p strong {
    font-weight: bold;
    font-family: CrediValley;
}

.start-button-wrap {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
}

.start-button {
    position: absolute;
    color: white;
    text-shadow: 2px 2px black;
    display: flex;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    right: 20px;
    margin: 20px auto 20px 100px;
    transition: .5s all;
    border: white 2px solid;
}

.start-button:after {
    line-height: 50px;
    font-size: 50px;
    color: white;
    content: '⇨';
    position: absolute;
    transition: .5s all;
}

.start-button:hover {
    transition: .5s all;
    box-shadow: 0 0 10px 10px white;
}

@media only screen and (max-width: 400px) {
    .start-button-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}