<template>
    <div>
        <div class="characters content-block">
            <div class="content-back-image">
                <img :src="backImg"/>
            </div>
            <div class="overlay"></div>
            <div class="char-block">
                <div class="char-block-content">
                        <router-view class="class-category"
                        :cont="charWrap">
                        </router-view>
                </div>
                <ul class="char-menu">
                    <h3>Классы:</h3>
                    <li v-for="(item, index) in className">
                        <router-link :to="{name: 'class-cat', params:{class: item.name}}">
                            {{item.title}}
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        name: "characters",
        data() {
            return {
                content: [],
                i: 1,
                className: [
                    {title: 'Райдер', name: 'rider'},
                    {title: 'Кастер', name: 'caster'},
                    {title: 'Арчер', name: 'archer'},
                    {title: 'Берсеркер', name: 'berserker'},
                    {title: 'Ассассин', name: 'assassin'},
                    {title: 'Лансер', name: 'lancer'},
                    {title: 'Сэйбер', name: 'saber'},
                    {title: 'Мастера', name: 'master'},
                    {title: 'Прочие', name: 'other'},
                ],
                backImg: '',
                charWrap: [],
                // rider: [],
                // saber: [],
                // caster: [],
                // archer: [],
                // assassin: [],
                // lancer: [],
                // berserker: [],
                // master: [],
                // other: []

            }
        },
        methods: {},
        created() {
            let obj = this;
            let path = this.$route.name;
            this.$_db.collection('testbase').where('path', '==', path).get().then(function (query) {
                query.forEach(function (doc) {
                    obj.backImg = doc.data().backImg2;
                });
            });
            this.$_db.collection('chatacters').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.charWrap.push(doc.data());
                });
            });
                // if (obj.charwrap.find(o => o.class === 'Райдер') != undefined) obj.characters.rider.push(obj.charwrap.find(o => o.class === 'Райдер'));
                // if (obj.charwrap.find(o => o.class === 'Сэйбер') != undefined) obj.characters.saber.push(obj.charwrap.find(o => o.class === 'Сэйбер'));
                // if (obj.charwrap.find(o => o.class === 'Кастер') != undefined) obj.characters.caster.push(obj.charwrap.find(o => o.class === 'Кастер'));
                // if (obj.charwrap.find(o => o.class === 'Арчер') != undefined) obj.characters.archer.push(obj.charwrap.find(o => o.class === 'Арчер'));
                // if (obj.charwrap.find(o => o.class === 'Ассасин') != undefined) obj.characters.assassin.push(obj.charwrap.find(o => o.class === 'Ассасин'));
                // if (obj.charwrap.find(o => o.class === 'Лансер') != undefined) obj.characters.lancer.push(obj.charwrap.find(o => o.class === 'Лансер'));
                // if (obj.charwrap.find(o => o.class === 'Берсеркер') != undefined) obj.characters.berserker.push(obj.charwrap.find(o => o.class === 'Берсеркер'));
                // if (obj.charwrap.find(o => o.class === 'Мастер') != undefined) obj.characters.master.push(obj.charwrap.find(o => o.class === 'Мастер'));
                // if (obj.charwrap.find(o => o.class === 'Прочие') != undefined) obj.characters.other.push(obj.charwrap.find(o => o.class === 'Прочие'));
        }
    }
</script>

<style scoped>


</style>