<template>
    <div class="character">
        <div class="background">
            <img :src="character.backImg"/>
            <div class="overlay"></div>
        </div>
        <div class="main-info-wrap">
            <div class="main-info">
                <div class="image-wrap">
                    <a :href="character.img">
                        <img :src="character.img">
                    </a>
                </div>
                <ul class="prev-text-wrap">
                    <li><p><strong>Имя: </strong>{{ character.name }}</p></li>
                    <li><p><strong>Класс: </strong>{{ character.class }}</p></li>
                    <li>
                        <p><strong>Характеристики: </strong></p>
                        <p>Сила: {{ character.param[0] }}</p>
                        <p>Выносливость: {{ character.param[1] }}</p>
                        <p>Ловкость: {{ character.param[2] }}</p>
                        <p>Магия: {{ character.param[3] }}</p>
                        <p>Удача: {{ character.param[4] }}</p>
                    </li>
                    <li>
                        <p><strong>Классовые навыки:</strong></p>
                        <p v-for="(item,index) in character.classSkills">
                            {{ item }}
                        </p>
                    </li>
                </ul>
                <ul class="text-wrap">
                    <li>
                        <h2>Информация</h2>
                        <p>{{ character.text }}</p>
                    <li>
                    <li>
                        <h2>Способности</h2>
                        <p></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['character'],
        name: "character",
        data() {
            return {
            }
        },
        // methods: {
        //     getData() {
        //         let path = this.$route.params.character;
        //         let obj = this;
        //         this.$_db.collection('chatacters').where('path', '==', path)
        //             .get().then(function (query) {
        //             query.forEach(function (doc) {
        //                 obj.character = doc.data();
        //             });
        //         });
        //     }
        // },
        // beforeRouteEnter(to, from, next) {
        //     next(vm => {
        //         vm.getData()
        //     });
        // },
        created() {

        }
    }
</script>

<style scoped>

</style>