<template>
    <div
    :class="this.$route.params.class">
        <div class="char-wrap">
        <div class="char"
             @click="timedChar = item"
             v-for="(item,index) in content"
             :key="index">
            <router-link :to="{name: 'character', params: {character: item.path}}">
                <div class="char-img">
                    <img :src="item.img">
                </div>
                <div class="char-overlay"></div>
                <div class="char-title">
                    <div class="char-text">
                        <p>{{ item.name }}</p>
                    </div>
                </div>
            </router-link>
        </div>
        </div>
        <transition name="char-appear">
            <router-view
                    :character="timedChar"></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        props: ['cont'],
        name: "class-category",
        data() {
            return {
                timedChar: '',
                content: [],
            }
        },
        beforeRouteEnter(to,from,next){
            next(vm => {
                vm.getData()
            });
        },
        beforeRouteUpdate(to,from,next){
            next();
            this.getData();
        },
        methods: {
            getData() {
                let obj = this;
                let path = this.$route.params.class;
                let param = this.cont;
                this.content = [];
                if (param.find(o => o.cat === path) !== undefined) obj.content.push(param.find(o => o.cat === path));
                // this.$_db.collection('chatacters').where('cat', '==', path).get().then(function (query) {
                //     query.forEach(function (doc) {
                //         obj.content.push(doc.data());
                //     });
                // });
            }
        }
    }
</script>

<style scoped>

    .char-appear-enter,
    .char-appear-leave-to {
        margin: auto;
        height: 0;
    }

    .char-appear-leave-active,
    .char-appear-enter-active {
        transition: .5s all;
    }
</style>