<template>
    <div class="full-ost content-block">
        <div class="content-back-image">
            <img :src="backImg"/>
        </div>
        <ul class="ost-block">
            <li v-for="item in content"
                @click="audTime = item; show = true">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                <p>{{item.name}}</p>
            </li>
        </ul>
        <div class="full-audio"
             v-if="show">
            <div class="cross"
                 @click="show = false">X
            </div>
            <audio :src="audTime.link" controls></audio>
        </div>
    </div>
</template>

<script>
    export default {
        name: "full-soundtrack",
        data() {
            return {
                backImg: '',
                show: false,
                audTime: '',
                time: 'staynight',
                content: [],
                ostList: [],
            }
        },
        created() {
            let path = this.time;
            if(this.$route.params.soundtrack !== undefined) this.time = this.$route.params.soundtrack;
            path = this.time;
            let obj = this;
            this.$_db.collection('ostbase').where('cat', '==', path).get().then(function (query) {
                query.forEach(function (doc) {
                    obj.content.push(doc.data())
                });
                // if (obj.ostBase.find(o => o.cat === obj.time) !== undefined) obj.dataOst.push(obj.ostBase.find(o => o.cat === obj.time));
            });
            this.$_db.collection('database').where('path', '==', 'ost').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.backImg = doc.data().backImg2;
                });
            });
        },
    }
</script>

<style scoped>

</style>