<template>
    <div class="full-gallery content-block">
        <ul class="images-block">
            <li
                    v-for="(item,index) in content"
                    @click="timeImg = item; show = true; imageIndex = index">
                <div class="title">{{ item.title }}</div>
                <img :src="item.img"/>
            </li>
        </ul>
        <transition name="opacity">
            <div class="full-image"
                 v-if="show">
                <!--<div class="swiper-wrap">-->
                <!--<swiper :options="swiperOptions" ref="mySwiper2">-->
                <!--<swiper-slide v-for="(item,index) in content"-->
                <!--:key="index"-->
                <!--class="image">-->
                <!--<img :src="item.img">-->
                <!--<p class="img-title">{{ item.title }}</p>-->
                <!--</swiper-slide>-->
                <!--<div class="swiper-button-prev" slot="button-prev"></div>-->
                <!--<div class="swiper-button-next" slot="button-next"></div>-->
                <!--</swiper>-->
                <transition name="opacity">
                    <div class="image"
                         v-if="show">
                        <a :href="content[imageIndex].img">
                            <img :src="content[imageIndex].img"/>
                        </a>
                    </div>
                </transition>
                <div class="button prev"
                     @click="imageIndex--">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="button next"
                     @click="imageIndex++">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="cross"
                     @click="show = false">X
                </div>
            </div>
        </transition>
    </div>
</template>

<script>


    export default {
        name: "full-gallery",
        components: {},
        data() {
            return {
                swiperOptions: {
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                },
                show: false,
                content: [],
                imageIndex: 0,
                timeImg: '',
            }
        },
        methods: {},
        created() {
            let obj = this;
            this.$_db.collection('gallery').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.content.push(doc.data())
                })
            })
        }
    }
</script>

<style scoped>

    .opacity-enter,
    .opacity-leave-to {
        opacity: 0;
    }

    .opacity-enter-active,
    .opacity-leave-active {
        transition: 1s all;
    }
</style>