<template>
    <div class="gallery">
        <div class="back-img">
            <div class="img">
                <img :src="cont.backImg">
            </div>
        </div>
        <div class="swiper-wrap">
            <swiper :options="swiperOptions" ref="mySwiper1">
                <swiper-slide v-for="(item,index) in content"
                              :key="index">
                    <img :src="item.img">
                    <p class="img-title">{{ item.title }}</p>
                </swiper-slide>
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
        </div>
        <div class="content-bottom">
            <div class="link">
                <router-link
                        :to="{name: 'full-gallery', params: {cat: 'gallery'}}">Gallery
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "gallery",
        props: ['cont'],
        data() {
            return {
                content: [],
                swiperOptions: {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 50,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows : true,
                    },
                    breakpoints: {
                        700: {
                            slidesToShow: 1
                        }
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                },
            }
        },
        methods: {},
        created() {
            let obj = this;
            this.$_db.collection('gallery').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.content.push(doc.data());
                });
            });
        },
        mounted() {
        }
    }
</script>

<style scoped>
    .gallery .swiper-wrap {
        position: absolute;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gallery .swiper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        height: 100%;
    }

    .gallery .swiper-slide {
        margin: auto;
        transition: .5s all;
        border: 5px white solid;
        width: 450px;
        height: 350px;
        background: #cccccc;
    }

    .gallery .swiper-slide div {
        width: 100%;
        height: 100%;
    }

    .gallery .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media only screen and (max-width: 700px) {
        .gallery .swiper-slide {
            width: 300px;
            height: 200px;
        }
    }
    @media only screen and (max-width: 400px) {
        .gallery .swiper-slide {
            width: 200px;
            height: 150px;
        }
    }

</style>