<template>
    <div class="info"
         @mouseover="prev = false"
         @mouseout="prev = true">
        <swiper :options="swiperOptions" ref="mySwiper2">
            <swiper-slide v-for="item in content">
                <component
                        :is="item.path"
                        :key="item.path"
                        class="content-info-block"
                        :class="'pre-'+item.path"
                        :data="item"
                        :id="item.path">
                </component>
            </swiper-slide>
        </swiper>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-prevA" slot="button-prev"></div>
        <div class="swiper-button-next swiper-button-nextA" slot="button-next"></div>
        <transition name="opacity">
            <div class="preview"
                 v-if="prev">
                <div class="content-back-image">
                    <img :src="cont.backImg"/>
                </div>
                <div class="content-info">
                    <div class="box-shadow">
                        <div></div>
                    </div>
                    <div class="content-title">
                        <h2>{{ cont.title }}</h2>
                    </div>
                    <div class="content-text">
                        <p>{{ cont.text }}</p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import Characters from "./info/characters";
    import Story from "./info/story";
    import MainInfo from "./info/main-info";

    export default {
        components: {MainInfo, Story, Characters},
        props: ['cont'],
        name: "info",
        data() {
            return {
                prev: true,
                time: 'story',
                content: [],
                contSub: null,
                swiperOptions: {
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-nextA',
                        prevEl: '.swiper-button-prevA',
                    },
                },
            }
        },
        methods: {
            contLoad() {
            },
            paralax() {
                // if(el.offsetParent().scrollTop() == 0) el.offsetTop = 0;
                // for(var i=el.offsetTop;i<el.offsetHeight;i++){
                //     el.offsetTop = i;
            },
        },
        created() {
            let obj = this;
            this.$_db.collection('testbase').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.content.push(doc.data());
                });
            });
        },
        beforeUpdate() {
            let path = this.time;
            this.contSub = this.content.find(o => o.path === path)
        }
    }
</script>

<style scoped>
    .opacity-enter,
    .opacity-leave-to {
        opacity: 0;
    }

    .opacity-enter-active,
    .opacity-leave-active {
        transition: .5s all;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 50px;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 30px;
    }

</style>