<template>
    <div class="soundtrack">
        <div class="content-back-image">
            <img :src="cont.backImg"/>
        </div>
        <div class="title">
            <h1>{{ cont.title }}</h1>
        </div>
        <ul class="ost-menu">
            <li v-for="item in content">
                <router-link :to="{name: 'soundtrack', params: {soundtrack: item.path}}">
                    {{ item.title }}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['cont'],
        name: "soundtrack",
        data() {
            return {
                time: '',
                content: [],
            }
        },
        created() {
            let obj = this;
            this.$_db.collection('soundtrack').get().then(function (query) {
                query.forEach(function (doc) {
                    obj.content.push(doc.data())
                })
            });
        },
        methods: {}
    }
</script>

<style scoped>

</style>