<template>
        <div class="story content-block">

        </div>
</template>

<script>
    export default {
        name: "story"
    }
</script>

<style scoped>
    .story {
    }

    .block {
        width: 100%;
        height: 400px;
        background: #b3d4fc;
    }
</style>