<template>
    <div class="home" ref="home">
        <router-view class="content-block"
                     v-for="(item,index) in content"
                     :key="index"
                     :id="item.path"
                     :name="item.path"
                     :cont="item">
        </router-view>
    </div>
</template>

<script>

    export default {
        name: "home",
        props: ['data'],
        data() {
            return {
                time: true,
                content: []
            }
        },
        beforeRouteEnter(to,from,next) {
            next(vm => {
                vm.getData()
            })
        },
        beforeRouteUpdate(to, from, next){
            this.time = true;
            next()
        },
        methods: {
            getData() {
                let obj = this;
                this.$_db.collection('database').get().then(function (query) {
                    query.forEach(function (doc) {
                        obj.content.push(doc.data());
                    });
                });
                this.$_bus.$emit('menu', this.content);
            }
        },
    }
</script>

<style scoped>
    .home {
    }


</style>