<template>
    <div class="container start-screen">
        <video muted width="1280" height="720" autoplay loop :src="video" class="video"></video>
        <div class="start-screen-overlay"></div>
        <div class="start-text">
            <div class="main-text">
                <h2
                        v-anime="{opacity: 1, delay: 1000, duration: '2000', translateY: '-100%', easing: 'easeInOutSine'}">
                    Welcome</h2>
            </div>
            <div class="sub-text">
                <p
                        v-anime="{opacity: 1, delay: 3000, duration: '1500', easing: 'easeInOutSine'}">
                    to</p>
            </div>
                <div class="some-text">
                    <p
                            v-anime="{opacity: 1, delay: 3000, duration: '1500', easing: 'easeInOutSine'}">
                        <strong>Fate:</strong> Codex</p>
                </div>

        </div>
            <div class="start-button-wrap">
                <router-link :to="{name: 'home'}" class="start-button"
                v-anime="{duration: 1000, easing: 'easeInOutSine', delay: 5000, translateX: 1}">
                    <div class="button-icon"></div>
                </router-link>
            </div>

    </div>
</template>

<script>
    export default {
        name: "start-screen",
        data() {
            return {
                time: true,
                video: require('./../../public/start-screen.mp4')
            }
        },
        methods: {},
        created() {
        }
    }
</script>

<style scoped>


</style>