<template>
        <nav class="menu-wrap">
            <ul class="menu">
                <li v-for="(item, index) in menu"
                    :key="index">
                    <router-link class="anchor" :to="{hash: '#'+item.path}">
                        <img :src="item.backImg">
                        <div class="overlay"></div>
                        <div class="title"><h2>{{ item.title }}</h2></div>
                    </router-link>
                </li>
            </ul>
        </nav>
</template>

<script>
    export default {
        name: "top-menu",
        data() {
            return {
                menu: [],
                back: ''
            }
        },
        beforeCreate() {
            this.menu = [];
        },
        created() {
            this.$_bus.$on('menu', (param) => {
                this.menu = param;
            });
        },
        methods: {
            rout() {
            }
        }
    }
</script>

<style scoped>
    .clas {
        font-weight: ;
    }
</style>