<template>
    <div class="wrapper">
        <div class="loading" v-if="false">
            Загрузка...
        </div>
        <transition name="menu-fade">
            <router-view name="menu"></router-view>
        </transition>
        <div class="header" id="header" ref="header">
            <div class="back-img">
                <img :src="headBack"/>
            </div>
            <div class="head-bottom">
                <div class="img-logo">
                    <img :src="logo"/>
                </div>
                <div class="main-text">
                    <h1><strong>Fate:</strong> Codex</h1>
                    <h2>運命コーデックス</h2>
                </div>
            </div>
        </div>
        <transition name="anim-route" mode="out-in">
            <router-view class="container"
                         v-if="post"
                         :data="content"
            ></router-view>
        </transition>
        <footer class="footer">
            <div class="logo">
                <div class="logo-img">
                    <img :src="logo"/>
                </div>
                <div class="logo-text">
                    <h1><strong>Fate: </strong>Codex</h1>
                </div>
            </div>
            <div class="footer-text-wrap">
                <div class="footer-text">
                    <p>Test SPA</p>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    import TopMenu from "./top-menu";

    export default {
        name: "wrapper",
        components: {TopMenu},
        data() {
            return {
                post: true,
                loading: true,
                timed: '',
                content: [],
                headBack: require('./../../public/img/background.jpg'),
                logo: require('./../../public/img/start-logo.png'),

            }
        },
        created() {
            var time;
            this.$_bus.$on('ost', (param) => {
                time = param;

            });
            this.$_bus.$emit('ost1', time);
            this.$_bus.$on('data', (param) => {
                this.loading = param;
            })
        },
        methods: {}
    }
</script>

<style scoped>

    .menu-fade-enter,
    .menu-fade-leave-to {
        transform: translateY(-100%);
    }

    .menu-fade-enter-active,
    .menu-fade-leave-active {
        transition: 1s all;
    }

</style>