<template>
    <div>
        <div class="back-image">
            <img :src="data.backImg"/>
        </div>
        <div class="overlay"></div>
        <div class="img-wrap">
            <div class="img">
                <img :src="data.img"/>
            </div>
        </div>
        <div class="text-wrap">
            <div class="title">
                <h1>{{ data.title }}</h1>
            </div>
        </div>
        <div class="content-bottom">
            <div class="link">
                <router-link
                        :to="{name: data.path}">{{ data.title }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        name: "characters"
    }
</script>

<style scoped>

</style>