<template>
    <div>
        <div class="back-image">
            <img :src="data.backImg"/>
        </div>
        <div class="overlay"></div>
        <div class="text-wrap">
            <div class="title">
                <h1>{{ data.title }}</h1>
            </div>
            <div class="img-wrap">
                <div class="img">
                    <div class="box-shadow"></div>
                    <img :src="data.img1"/>
                </div>
                <div class="img">
                    <div class="box-shadow"></div>
                    <img :src="data.img2"/>
                </div>
                <div class="img">
                    <div class="box-shadow"></div>
                    <img :src="data.img3"/>
                </div>
            </div>
        </div>
        <div class="content-bottom">
            <div class="link">
                <router-link
                        :to="{name: data.path}">{{ data.title }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "main-info",
        props: ['data']
    }
</script>

<style scoped>

</style>