<template>
    <div>
        <div class="back-image">
            <img :src="data.backImg"/>
        </div>
        <div class="overlay"></div>
        <div class="text-wrap">
            <div class="title">
                <h1>{{ data.title }}</h1>
            </div>
            <div class="text-block">
                <div class="text left-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias et explicabo in ipsum labore
                        libero
                        minus nobis numquam, omnis quia, quo voluptas! Consequuntur, itaque, suscipit. Lorem ipsum dolor
                        sit amet, consectetur adipisicing elit. At distinctio eveniet iste non perferendis quas quisquam
                        sint voluptate! Ab ad architecto cupiditate deserunt, nihil quaerat sed. Architecto commodi et
                        fugiat mollitia unde. Aliquid cum dolorem et odio officia pariatur. Amet aut consectetur cumque
                        dignissimos dolores dolorum eligendi esse expedita, iusto laboriosam perferendis possimus rem,
                        sed sunt totam? Dolor earum nostrum provident quasi repellat reprehenderit voluptas.
                        Consequuntur eum laboriosam neque repellendus saepe? Aliquid dolorum expedita explicabo harum
                        impedit inventore minus modi molestias mollitia nostrum odio optio placeat quidem, rem ullam ut
                        voluptas voluptates. Dolor dolorum explicabo, illo ipsam molestiae perspiciatis repellendus?</p>
                </div>
                <div class="text right-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam architecto dolore error ex
                        excepturi laudantium magni minima molestiae quasi, quia, repudiandae tenetur vero vitae! Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem nihil porro temporibus
                        velit. Distinctio eaque labore minima molestias, nemo nihil suscipit. Accusantium beatae
                        consequatur cumque debitis distinctio dolor esse eveniet, expedita facere illo impedit inventore
                        itaque laborum libero maiores molestiae natus non nulla obcaecati odio optio quasi quo quod rem
                        sequi tenetur unde vel veniam vero voluptates? Aliquid, atque deleniti id illo in optio porro
                        totam. Accusantium alias aliquam culpa cupiditate dolore ea enim est explicabo, fugiat harum id
                        in itaque necessitatibus nemo nesciunt nostrum numquam officia omnis optio porro possimus quis
                        quos reprehenderit, soluta tempore unde ut voluptas.</p>
                </div>
            </div>
        </div>
        <div class="content-bottom">
            <div class="link">
                <router-link
                        :to="{name: data.path}">{{ data.title }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        name: "story",
        data() {
            return {}
        },
        created() {

        }
    }
</script>

<style scoped>

</style>