<template>
    <div id="app">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
              integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
              crossorigin="anonymous">
        <div class="wrap">
            <div class="background">
                <img :src="bg">
            </div>
            <transition name="anim-route" mode="in-out">
            <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>

    import animCss from './../public/css/animation.module.css';
    import fonts from './../public/css/fonts.css'


    export default {
        name: 'app',
        components: {
            animCss,
            fonts
        },
        data() {
            return {
                bg: require('./../public/img/background.jpg'),
                logo: require('./../public/img/start-logo.png'),
                menu: true,
                scroll: false,
                show: true,
            }
        },
        methods: {},
        created() {
        },
        updated() {
        }
    }
</script>

<style>
    @import "./../node_modules/swiper/dist/css/swiper.css";
    @import "./../public/css/reset.module.css";
    @import "./../public/css/module.css";
    @import "./../public/css/startscreen.css";
    @import "./../public/css/menu.css";
    @import "./../public/css/header.css";
    @import "./../public/css/content.css";
    @import "./../public/css/gallery.css";
    @import "./../public/css/info.css";
    @import "./../public/css/characters.css";
    @import "./../public/css/footer.css";
    @import "./../public/css/ost.css";

    #app {
        width: 100%;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .background img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .wrap {
        overflow: hidden;
        width: 100%;
    }

    .anim-route-leave-to,
    .anim-route-enter {
        transform: translateX(-100%);
    }

    .anim-route-leave-active,
    .anim-route-enter-active {
        transition: 1s all cubic-bezier(.34, .50, 0, .89);
    }
</style>
